<div class="user-details">
  <h1>{{ site.user_description }}</h1>
  <div>
    <img src="{{ '/assets/img/badigheller.gif' }}" alt="BadiCoin" width="22%" />
  </div>
  <p>
    Soon the devs will: <br />- Renounce ownership <br />- Lock 78% of LP tokens
    for 4 years <br />- Lock 22% of LP tokens for 1 year <br />Why 22? Because
    22
  </p>
</div>
<div class="user-details">
  <h1>Testimonials</h1>
</div>
<div class="user">
  <div class="tech">
    <h2>Badigheller</h2>
    <img
      src="{{ '/assets/img/badigheller.jpeg' }}"
      alt="Badigheller"
      width="65%"
    />
    <p>Crazy!</p>
  </div>
  <div class="tech">
    <h2>Pinastro</h2>
    <img src="{{ '/assets/img/pinastro.jpg' }}" alt="Pinastro" width="65%" />
    <p>22</p>
  </div>
  <div class="tech">
    <h2>RCa$h</h2>
    <img src="{{ '/assets/img/cash.jpg' }}" alt="RCash" width="55%" />
    <p>Shhhhhh!</p>
  </div>
</div>
