<div class="user-details">
  <h1>Get your BadiCoins!</h1>
  <div>
    <ol>
      <li>
        <a href="https://trustwallet.com/download-page/"
          >Download the Trust Wallet app</a
        >
      </li>
      <li>Follow the wallet creation process</li>
      <li>
        <a
          href="https://link.trustwallet.com/add_asset?asset=c714_t0xad41a2248de423ef8dc2b8504fc4873ab150f7c1"
          >Click to add</a
        >
        the BadiCoin to your app
      </li>
    </ol>
  </div>
  <h1>{{ site.user_description }}</h1>
  <div>
    <img src="{{ '/assets/img/badigheller.gif' }}" alt="BadiCoin" width="22%" />
  </div>
  <div>
    <p>
      LP tokens locked until 22 January 2025 through a <a href="https://github.com/BadiCoin/badicoinLock/blob/main/contracts/Lock.sol"
      >TokenTimelockProxy</a> <br /> it means that the creators cannot withdraw LP tokens from the Pancake contract to benefit from the BadiCoin value crash. <br />
      <ol>
        <li>
          First lock: 
          [
          <a href="https://bscscan.com/address/0xDbAfCfeA73dAb79A450c19850a4b5948311B6b3e"
            >Contract</a>
          ] [
          <a href="https://bscscan.com/tx/0x75f65a550c2ace2350ed4f5d6690a17af9fd973138b9d6dc2213736b2d0a9249"
            >TX</a>
          ]
        </li>
      </ol>
    </p>
  </div>
</div>
<div class="user-details">
  <h1>Testimonials</h1>
</div>
<div class="user">
  <div class="tech">
    <h2>Badigheller</h2>
    <img
      src="{{ '/assets/img/badigheller.jpeg' }}"
      alt="Badigheller"
      width="65%"
    />
    <p>Crazy!</p>
  </div>
  <div class="tech">
    <h2>Pinastro</h2>
    <img src="{{ '/assets/img/pinastro.jpg' }}" alt="Pinastro" width="65%" />
    <p>22</p>
  </div>
  <div class="tech">
    <h2>RCa$h</h2>
    <img src="{{ '/assets/img/cash.jpg' }}" alt="RCash" width="50%" />
    <p>Shhhhhh!</p>
  </div>
</div>
