<div class="user-details">
  <h1>7 di picche</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Badigheller</h2>
    <img src="{{ '/assets/badigheller.jpeg' }}" alt="Badigheller" width="45%" />
    <p>Crazy!</p>
  </div>
  <div class="tech">
    <h2>Pinastro</h2>
    <img src="{{ '/assets/pinastro.jpg' }}" alt="Pinastro" width="45%" />
    <p>22</p>
  </div>
  <div class="tech">
    <h2>RCa$h</h2>
    <img src="{{ '/assets/cash.jpg' }}" alt="Cash" width="45%" />
    <p>Shhhhhh(eep)!</p>
  </div>
</div>
