<div id="particles-js">
  <div class="header">
    <h1>
      <a
        target="_blank"
        title="Exchange"
        aria-label="Exchange"
        href="https://exchange.pancakeswap.finance/#/swap?outputCurrency=0xaD41a2248De423ef8Dc2B8504fC4873ab150F7C1"
      >
        <img
          class="site-logo"
          src="{{ '/assets/img/logo_big.png' }}"
          alt="BadiCoin"
          aria-hidden="true"
        />
      </a>
      <span class="site-title">{{ site.username }}</span>
      <span class="site-description">{{ site.user_title }}</span>
    </h1>
    <div class="header-icons">
      <a
        target="_blank"
        title="Pancake Swap"
        aria-label="Pancake Swap"
        href="https://exchange.pancakeswap.finance/#/swap?outputCurrency=0xaD41a2248De423ef8Dc2B8504fC4873ab150F7C1"
      >
        <img
          class="icon fa"
          aria-hidden="true"
          src="{{ '/assets/img/pkl.png' }}"
        />
      </a>
      <a
        target="_blank"
        title="BSCScan"
        aria-label="BSCScan"
        href="https://bscscan.com/token/0xad41a2248de423ef8dc2b8504fc4873ab150f7c1"
      >
        <img
          class="icon fa"
          aria-hidden="true"
          src="{{ '/assets/img/bscl.png' }}"
        />
      </a>
      <a
        target="_blank"
        title="PoopCoinCharts"
        aria-label="PoopCoinCharts"
        href="https://poocoin.app/tokens/0xad41a2248de423ef8dc2b8504fc4873ab150f7c1"
      >
        <img
          class="icon fa"
          aria-hidden="true"
          src="{{ '/assets/img/pcl.png' }}"
        />
      </a>
      <a
        target="_blank"
        title="TikTok"
        aria-label="TikTok"
        href="https://www.tiktok.com/@badigals"
      >
        <img
          class="icon fa"
          aria-hidden="true"
          src="{{ '/assets/img/ttl.svg' }}"
        />
      </a>
      <a
        target="_blank"
        title="Discord"
        aria-label="Discord"
        href="https://discord.gg/tggCZPWnp3"
      >
        <img
          class="icon fa"
          aria-hidden="true"
          src="{{ '/assets/img/dl.png' }}"
        />
      </a>
      <a
        target="_blank"
        title="Github"
        aria-label="Github"
        href="https://github.com/Pinastro22"
      >
        <img
          class="icon fa"
          aria-hidden="true"
          src="{{ '/assets/img/ghl.png' }}"
        />
      </a>
    </div>
    <div class="header-links">
      <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
    </div>
  </div>
  <a class="down" href="#about" data-scroll
    ><i class="icon fa fa-chevron-down" aria-hidden="true"></i
  ></a>
</div>
